<template>
  <h1>Homepage</h1>
  <h2>What is this about?</h2>
  <p>Welcome on Lingua Libre v3 <b>beta</b>!</p>
  <p>
    This is a test server that will allow you to experiment with the new version of Lingua Libre. It
    does not have all the planned features, but it will be regularly updated with fixes and
    additions.
  </p>
  <h2>How do I use it?</h2>
  <p>
    In order to use most features of Lingua Libre v3, you must have a
    <b>Beta Cluster Wikimedia account</b>. This account <b>IS NOT</b> your actual Wikimedia account
    (the one you use on e.g. the French Wikipedia). It resides on a different wholy different set of
    wikis, that are also hosted by the Wikimedia Foundation and are used to "replicate" an actual
    Wikimedia wikis environment to test features in a controlled environment.
  </p>
  <p>
    Thus, you need to create a new account
    <a href="https://commons.wikimedia.beta.wmflabs.org/wiki/Main_Page"
      >here on Beta Cluster Wikimedia Commons</a
    >.
  </p>
</template>

<script setup></script>
