<template>
  <h1>My Upload Batches ({{ uploadBatches.length }})</h1>
  <p v-if="!isAuthenticated">You must be logged in in order to see your Upload Batches.</p>
  <div v-else>
    <UploadBatchCard
      v-for="(uploadBatch, index) in uploadBatches"
      :key="index"
      :upload-batch="uploadBatch"
    />
    <p v-if="uploadBatches.length === 0">You do not have any upload batches available.</p>
  </div>
</template>

<script setup>
import axios from 'axios'
import { ref } from 'vue'
import UploadBatchCard from '@/components/UploadBatchCard.vue'
import VueCookies from 'vue-cookies'

const isAuthenticated = VueCookies.get('sessionid') || ''
const uploadBatches = ref([])

axios
  .get('/upload-batches/my', { withCredentials: true })
  .then((response) => response.data)
  .then((response) => (uploadBatches.value = response))
  .catch((error) => {
    if (error.response) {
      // Got a response but not 200 OK
      // TODO
    } else if (error.request) {
      // Could not get a response, probably a network error
      // TODO
    }
  })
</script>
