<template>
  <CdxButton weight="quiet" aria-label="Open keyboard shortcuts dialog" @click="open = true">
    <CdxIcon :icon="cdxIconKeyboard" />
  </CdxButton>
  <CdxDialog
    :open="open"
    title="Keyboard shortcuts"
    class="shortcuts-content"
    close-button-label="Close"
    aria-label="Close Dialog"
    @update:open="(newValue) => (open = newValue)"
  >
    <div v-for="(shortcut, index) in shortcuts" :key="index" class="shortcut-description">
      <kbd class="shortcut" :class="shortcut.long ? 'shortcut-long' : ''">{{ shortcut.key }}</kbd>
      <div>{{ shortcut.description }}</div>
    </div>
  </CdxDialog>
</template>

<script setup>
import { CdxButton, CdxDialog, CdxIcon } from '@wikimedia/codex'
import { cdxIconKeyboard } from '@wikimedia/codex-icons'
import { ref } from 'vue'

defineProps({
  shortcuts: {
    type: Array[Object], // {key: String, description: String, long: Boolean}
    required: true,
  },
})

const open = ref(false)
</script>

<style>
.shortcuts-content {
  display: flex;
  flex-wrap: wrap;
}

.shortcut-description {
  flex: 1 1 250px;

  display: flex;
  align-items: center;

  margin-bottom: 30px;
  padding-right: 15px;
}

kbd.shortcut {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  width: 55px;
  height: 55px;
  background-color: #eaeaea;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px #bfbfbf;
  margin-right: 15px;

  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 18px;
}

kbd.shortcut-long {
  align-items: flex-end;
  justify-content: flex-start;

  width: 120px;
  padding: 8px;

  font-size: 14px;
}
</style>
