<template>
  <footer>
    <div id="links">
      <!-- Links -->
      <ul>
        <li>Privacy Policy</li>
        <li>Mentions légales</li>
        <li><a href="https://www.wikimedia.fr/">About Wikimédia France</a></li>
        <li><a href="mailto:info@wikimedia.fr">Contact</a></li>
        <li>
          <a href="https://gitlab.wikimedia.org/repos/wikimedia-france/lingua-libre/lingua-libre">
            Source Code
          </a>
        </li>
      </ul>
      <!-- Socials -->
      <ul>
        <li>
          <FontAwesomeIcon icon="fa-brands fa-mastodon" />
          <a href="https://wikis.world/@lingualibre" rel="me">Mastodon</a>
        </li>
        <li>
          <FontAwesomeIcon icon="fa-brands fa-twitter" />
          <a href="https://twitter.com/LingLibre_WMFr">Twitter</a>
        </li>
      </ul>
      <p>
        Made with <CdxIcon :icon="cdxIconHeart" icon-label="love" /> by the Lingua Libre community.
      </p>
    </div>
    <div id="sponsored-by">
      <p>Sponsored by:</p>
      <ul>
        <li><img src="/logo_wikimedia_france.svg" alt="Wikimedia France logo" height="48" /></li>
      </ul>
    </div>
    <div id="powered-by">
      <p>Powered by:</p>
      <ul>
        <li>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/3/36/Wikidata_stamp_rec_light.png"
            alt="Powered by Wikidata"
            height="48"
          />
        </li>
      </ul>
    </div>
  </footer>
</template>

<script setup>
import { CdxIcon } from '@wikimedia/codex'
import { cdxIconHeart } from '@wikimedia/codex-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
</script>

<style scoped>
footer {
  margin-top: 62px;
  margin-bottom: 40px;
  padding-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  font-size: 14px;
}

div#links {
  display: flex;
  flex-direction: column;
}

div#links ul {
  margin-bottom: 1rem;
}

ul {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}

ul li {
  list-style: none;
  margin-right: 2rem;
}

ul li:last-child {
  margin-right: 0;
}
</style>
