<template>
  <h2>Pick your locutor</h2>
  <div v-if="store.locutors.length != 0" id="locutor-selector">
    <div id="locutor-selector-list">
      <div v-for="locutor in store.locutors" :key="locutor.id" class="locutor-radio">
        <label :for="locutor.id">
          <input
            :id="locutor.id"
            v-model="store.selectedLocutorId"
            type="radio"
            name="locutor"
            :value="locutor.id"
          />
          <p>
            <b>{{ locutor.name }}</b>
          </p>
          <p>{{ locutor.languages_used.length }} languages</p>
        </label>
      </div>
    </div>

    <div v-if="store.locutor" id="locutor-selector-form">
      <h3>{{ store.locutor.name }}</h3>
      <CdxMessage type="warning">
        <p>
          You can edit data here, but any changes you make are temporary, as they are currently not
          stored.
        </p>
      </CdxMessage>
      <CdxMessage v-if="store.locutor.is_main_locutor" type="notice">
        <p>This locutor is your main locutor.</p>
        <p>It cannot be removed, and you must use it if recording words on your own.</p>
      </CdxMessage>
      <CdxField :disabled="store.locutor.is_main_locutor" :label-icon="cdxIconUserActive">
        <template #label> Name </template>
        <CdxTextInput v-model="store.locutor.name" />
        <template #description> Please enter the locutor's name. </template>
        <template #help-text>
          Note that once this locutor has at least one recording, this name can no longer be
          changed.
        </template>
      </CdxField>
      <CdxField :label-icon="cdxIconLanguage" disabled optional-flag="(not implemented yet)">
        <template #label> Spoken or signed languages </template>
        <template #description>Languages this locutor is able to record in.</template>
      </CdxField>
      <CdxField :label-icon="cdxIconHome" disabled optional-flag="(not implemented yet)">
        <template #label> Place of residence </template>
        <template #description>Where this locutor lives.</template>
        <template #help-text>
          This data is most notably used by Wiktionaries to display where the recording comes from
          (e.g. southern France, Canada).
        </template>
      </CdxField>
      <CdxField :label-icon="cdxIconLogoCC">
        <template #label> License </template>
        <CdxSelect v-model:selected="store.locutor.license" :menu-items="licenses" />
        <template #description>
          License under which future recordings will be released on Wikimedia Commons.
        </template>
      </CdxField>
      <CdxField
        v-if="store.locutor.is_main_locutor === false"
        :label-icon="cdxIconTrash"
        :disabled="store.locutor.can_be_deleted === false"
      >
        <template #label>Delete this locutor</template>
        <DeletionDialog
          name-of-the-thing-to-delete="locutor"
          :confirmation-text="store.locutor.name"
          @delete="deleteSelectedLocutor()"
        >
          Delete this locutor
        </DeletionDialog>

        <template #help-text
          >You can only delete locutors that do not have any recordings associated to
          them.</template
        >
      </CdxField>
      <CdxMessage v-if="locutorDeletionError !== ''" type="error" inline fade-in>
        {{ errorMessages[locutorDeletionError] }}
      </CdxMessage>
    </div>
  </div>
  <CdxMessage v-else-if="locutorDataError !== ''" type="error" inline fade-in>
    {{ errorMessages[locutorDataError] }}
  </CdxMessage>
  <div v-else>Loading...</div>
</template>

<script setup>
import axios from 'axios'
import { ref, watch } from 'vue'
import { CdxField, CdxTextInput, CdxMessage, CdxSelect } from '@wikimedia/codex'
import {
  cdxIconUserActive,
  cdxIconHome,
  cdxIconLanguage,
  cdxIconLogoCC,
  cdxIconTrash,
} from '@wikimedia/codex-icons'
import { useRecordWizardStore } from '@/stores/recordwizard'
import DeletionDialog from '@/components/DeletionDialog.vue'

const emit = defineEmits(['canGoToNextStep', 'canNotGoToNextStep'])

const store = useRecordWizardStore()

const licenses = [
  {
    label: 'Creative Commons Zero',
    value: 'cc-zero',
  },
  {
    label: 'Creative Commons Attribution 4.0',
    value: 'cc-by',
  },
  {
    label: 'Creative Commons Attribution Share-Alike 4.0',
    value: 'cc-by-sa',
  },
]

const locutorDataError = ref('')
const locutorDeletionError = ref('')
const NETWORK_ERROR = 'NETWORK_ERROR'
const NOT_AUTHENTICATED = 'NOT_AUTHENTICATED'
const UNEXPECTED_ERROR = 'UNEXPECTED_ERROR'
const CANNOT_DELETE_LOCUTOR = 'CANNOT_DELETE_LOCUTOR'
const CANNOT_FIND_LOCUTOR_TO_DELETE = 'CANNOT_FIND_LOCUTOR_TO_DELETE'
const errorMessages = {
  NETWORK_ERROR:
    "Could not reach Lingua Libre's server. Either it is currently unavailable, or your internet connection is unstable. Please try again in a few minutes.",
  NOT_AUTHENTICATED:
    'An issue occurred when authenticating the request. Please logout and login again.',
  UNEXPECTED_ERROR:
    "An unexpected error occurred. Please contact the site's administrator and provide the error log from the console.",
  CANNOT_DELETE_LOCUTOR: 'You cannot delete this Locutor.',
  CANNOT_FIND_LOCUTOR_TO_DELETE:
    'Oops! How could you even ask for this non-existent Locutor to be deleted?',
}

// query locutors only if there are none in the store
if (store.locutors.length === 0) {
  axios
    .get('/locutors/my', { withCredentials: true })
    .then((response) => response.data)
    .then((response) => (store.locutors = response))
    .catch((error) => {
      if (error.response) {
        // 403 Not Authenticated (maybe could happen if the session cookie is expired?)
        if (error.response.status === axios.HttpStatusCode.Forbidden)
          locutorDataError.value = NOT_AUTHENTICATED
        // Unexpected error
        else {
          locutorDataError.value = UNEXPECTED_ERROR
          console.log(error.response)
        }
      } else if (error.request) {
        // Could not get a response, probably a network error
        locutorDataError.value = NETWORK_ERROR
      }
    })
}

function deleteSelectedLocutor() {
  const requestConfig = {
    withCredentials: true,
    withXSRFToken: true,
  }

  axios
    .delete('/locutors/my/' + store.locutor.id, requestConfig)
    .then(() => {
      // successful deletion
      store.removeSelectedLocutor()
    })
    .catch((error) => {
      if (error.response) {
        // 400 Cannot delete (the front should prevent such a request to be sent, but better safe than sorry!)
        if (error.response.status === axios.HttpStatusCode.BadRequest)
          locutorDeletionError.value = CANNOT_DELETE_LOCUTOR
        // 403 Not Authenticated (same, should technically never happen, but you never know)
        else if (error.response.status === axios.HttpStatusCode.Forbidden)
          locutorDeletionError.value = NOT_AUTHENTICATED
        // 404 Not Found (same, should technically never happen)
        else if (error.response.status === axios.HttpStatusCode.NotFound)
          locutorDeletionError.value = CANNOT_FIND_LOCUTOR_TO_DELETE
        // Unexpected error
        else {
          locutorDeletionError.value = UNEXPECTED_ERROR
          console.log(error.response)
        }
      } else if (error.request) {
        // Could not get a response, probably a network error
        locutorDeletionError.value = NETWORK_ERROR
      }
    })
}

watch(
  () => store.selectedLocutorId,
  () => {
    emit('canGoToNextStep')
  },
)
</script>

<style>
#locutor-selector {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cdx-field {
  margin-bottom: 1rem;
}

#locutor-selector-list {
  flex: 1;
  max-height: 600px;
  overflow: scroll;
}

#locutor-selector-form {
  flex: 3;
}

.locutor-radio input[type='radio'] {
  display: none;
}
.locutor-radio label {
  display: block;
  background-color: hsla(212, 9%, 66%, 0.6);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  overflow-wrap: break-word;
  hyphens: auto;
}

.locutor-radio label:has(input:checked) {
  background-color: #3366cc;
  color: white;
}
</style>
