<template>
  <h2>Review your recordings</h2>
  <KeyboardShortcutsDialog :shortcuts="keyboardShortcuts" />
  <div id="review-recordings">
    <div>
      <WordList :words="availableRecordings" :selected-index="currentRecording">
        <template #word-status="statusProps">
          <CdxIcon v-if="uploadedRecordings.includes(statusProps.word)" :icon="cdxIconCheck" />
        </template>
      </WordList>
    </div>
    <div>
      <CdxButton @click="playRecording()"> Play recording </CdxButton>
    </div>
    <div>
      <CdxButton :disabled="currentRecording <= 0" @click="moveBackward()"> Previous </CdxButton>
      <CdxButton
        :disabled="currentRecording + 1 >= availableRecordings.length"
        @click="moveForward()"
      >
        Next
      </CdxButton>
      <CdxButton :disabled="hasSuccessfullyUploaded" @click="startPublishing()">
        Publish!
      </CdxButton>
    </div>

    <div>
      <span>{{ uploadedRecordings.length }} / {{ recordingsToUpload }}</span>
    </div>
  </div>
  <CdxMessage v-if="hasSuccessfullyUploaded" type="success" fade-in>
    <p><b>Recordings successfully stored!</b></p>
    <p>They are currently put on hold and will soon be uploaded to Wikimedia Commons.</p>
    <router-link :to="'/my-upload-batches/' + uploadBatch.id">
      Check out the progress here.
    </router-link>
  </CdxMessage>
</template>

<script setup>
import { CdxButton, CdxIcon, CdxMessage } from '@wikimedia/codex'
import { cdxIconCheck } from '@wikimedia/codex-icons'
import { useRecordWizardStore } from '@/stores/recordwizard'
import { computed, onMounted, onUnmounted, ref, watch } from 'vue'
import axios from 'axios'
import WordList from '@/components/WordList.vue'
import KeyboardShortcutsDialog from '@/components/KeyboardShortcutsDialog.vue'

const emit = defineEmits(['canGoToNextStep', 'canNotGoToNextStep'])

const store = useRecordWizardStore()
const availableRecordings = ref(Object.keys(store.recordings))
const currentRecording = ref(0)
const recordingsToUpload = computed(() => availableRecordings.value.length)
const uploadedRecordings = ref([])
const hasSuccessfullyUploaded = computed(
  () => uploadedRecordings.value.length >= recordingsToUpload.value,
)
const uploadBatch = ref({})

const keyboardShortcuts = [
  {
    key: '←',
    description: 'Previous Word',
  },
  {
    key: '→',
    description: 'Next Word',
  },
  {
    key: 'space',
    long: true,
    description: 'Play Selected Recording',
  },
]

function playRecording() {
  const url = URL.createObjectURL(
    store.recordings[availableRecordings.value[currentRecording.value]],
  )
  const audioNode = new Audio(url)
  audioNode.play()
}

async function startPublishing() {
  // Create an upload batch
  const requestConfig = {
    withCredentials: true,
    withXSRFToken: true,
  }

  uploadBatch.value = await axios
    .post(
      '/upload-batches/my',
      {
        locutor: store.selectedLocutorId,
        language_qid: store.selectedLanguageId,
      },
      requestConfig,
    )
    .then((response) => response.data)
    .catch((error) => {
      console.log(error)
      if (error.response) {
        // Got a response but not 200 OK
        // 400 bad request
        // 403 with CSRF issue?
        // TODO
      } else if (error.request) {
        // Could not get a response, probably a network error
        // TODO
      }
    })

  console.log(uploadBatch.value)
  // handle error if upload batch is not defined (due to error before)

  for (const word of availableRecordings.value) {
    const recording = await axios
      .postForm(
        '/upload-batches/my/' + uploadBatch.value.id + '/recordings',
        {
          file: store.recordings[word],
          transcription: word,
        },
        requestConfig,
      )
      .then((response) => response.data)
      .catch((error) => {
        console.log(error)
        if (error.response) {
          // Got a response but not 200 OK
          // 403 with CSRF issue?
          // TODO
        } else if (error.request) {
          // Could not get a response, probably a network error
          // TODO
        }
      })
    console.log(recording)
    if (recording) {
      uploadedRecordings.value.push(word)
    }
  }
}

watch(currentRecording, () => {
  if (currentRecording.value + 1 >= availableRecordings.value.length) {
    emit('canGoToNextStep')
  }
})

function moveForward() {
  if (currentRecording.value + 1 >= availableRecordings.value.length) return
  currentRecording.value++
}

function moveBackward() {
  if (currentRecording.value <= 0) return
  currentRecording.value--
}

function handleShortcuts(event) {
  // Do not trigger those events when the user is focusing an input
  if (event.target.nodeName === 'INPUT' || event.target.nodeName === 'BUTTON') {
    return
  }

  switch (event.which) {
    case 37: // left
    case 38: // up
      moveBackward()
      break

    case 39: // right
    case 40: // down
      moveForward()
      break

    case 32: // space bar
      playRecording()
      break

    default:
      return
  }
  event.preventDefault()
}

onMounted(() => {
  addEventListener('keydown', handleShortcuts)
})

onUnmounted(() => {
  removeEventListener('keydown', handleShortcuts)
})
</script>

<style>
#review-recordings {
  display: flex;
  flex-direction: row;
}
</style>
